In [42]:
import pandas as pd
from  sqlalchemy import create_engine

# Extracting CSVs into DataFrames

In [43]:
earnings = pd.read_csv("Resources/earnings_calendar.csv", encoding='ISO-8859-1')
earnings.head()

,symbol,name,reportDate,fiscalDateEnding,estimate,currency
0,A,Agilent Technologies Inc,2022-11-21,2022-10-31,1.3900,USD
1,AA,Alcoa Corp,2023-01-18,2022-12-31,0.3634,USD
2,AACAY,AACAY,2022-11-11,2022-09-30,0.0277,USD
3,AACG,ATA Creativity Global,2022-11-08,2022-09-30,NaN,CNY
4,AADI,Aadi Bioscience Inc,2022-11-09,2022-09-30,-0.7660,USD

# Data Transformation

In [44]:
# get only the columns we need
new_earning = earnings[['symbol','name', 'reportDate', 'estimate']]

new_earning.head()

  symbol                      name  reportDate  estimate
0      A  Agilent Technologies Inc  2022-11-21    1.3900
1     AA                Alcoa Corp  2023-01-18    0.3634
2  AACAY                     AACAY  2022-11-11    0.0277
3   AACG     ATA Creativity Global  2022-11-08       NaN
4   AADI       Aadi Bioscience Inc  2022-11-09   -0.7660

## Connect to Postgres and Convert the DataFrames into DataBase

In [45]:
protocol = 'postgresql'
# Change username and password
username = 'postgres'
password = '930106Jj!'
host = 'localhost'
port = 5432
database_name = ''
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [46]:

new_earning.to_sql(name='Earnings', con=engine, if_exists='replace', index=False)

758

In [47]:
engine = create_engine("sqlite:///StockEarning.db")  # relative path to db
new_earning.to_sql("stockEarnings", engine)

6758