In [1]:
import pandas as pd
import json 
from  sqlalchemy import create_engine

# Extracting CSVs into DataFrames

In [2]:
Ear = pd.read_csv("earnings_calendar.csv", encoding='ISO-8859-1')

earnings=Ear.dropna()
earnings=Ear.dropna(axis=0,how="all")

# Reset index after drop
earnings=Ear.dropna().reset_index(drop=True)

# Drop row that has all NaN values
earnings=Ear.dropna(how='all')

# Drop rows that has NaN values on selected columns
earnings=Ear.dropna(subset=['estimate','reportDate'])

earnings
earnings.head()

,symbol,name,reportDate,fiscalDateEnding,estimate,currency
0,A,Agilent Technologies Inc,2022-11-21,2022-10-31,1.3900,USD
1,AA,Alcoa Corp,2023-01-18,2022-12-31,0.3634,USD
2,AACAY,AACAY,2022-11-11,2022-09-30,0.0277,USD
4,AADI,Aadi Bioscience Inc,2022-11-09,2022-09-30,-0.7660,USD
5,AAGIY,AAGIY,2022-11-30,2022-09-30,0.0000,USD

In [3]:
earnings_usd = earnings.loc[earnings['currency'] == 'USD']

earnings_usd.head()

,symbol,name,reportDate,fiscalDateEnding,estimate,currency
0,A,Agilent Technologies Inc,2022-11-21,2022-10-31,1.3900,USD
1,AA,Alcoa Corp,2023-01-18,2022-12-31,0.3634,USD
2,AACAY,AACAY,2022-11-11,2022-09-30,0.0277,USD
4,AADI,Aadi Bioscience Inc,2022-11-09,2022-09-30,-0.7660,USD
5,AAGIY,AAGIY,2022-11-30,2022-09-30,0.0000,USD

In [4]:
len(earnings_usd)

4665

In [11]:
GREAT = earnings_usd.loc[earnings['estimate'] > 0 ]

len(GREAT)

2387

# Data Transformation

In [5]:
# get only the columns we need
new_earning = earnings[['symbol','name', 'reportDate', 'estimate']]
df = pd.DataFrame(new_earning,columns = ['symbol','name', 'reportDate', 'estimate'])
df[df.isna().any(axis=1)]

     symbol name  reportDate  estimate
3424   KMPH  NaN  2022-11-10    -0.185
5825    SYN  NaN  2022-11-02    -0.400

In [6]:
cleandf=df.drop([3424, 5825])

In [7]:
sDict = cleandf.to_dict('record')

C:\Users\Jonathan\AppData\Local\Temp\ipykernel_32252\1105244944.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  sDict = cleandf.to_dict('record')

## Change to js file

In [8]:
out_file = open("data.json", "w") 
    
json.dump(sDict, out_file, indent = 6) 
    
out_file.close()